<div class="container">
  <div class="row">
    <br />
    <% if !current_user %>
      <div class="hero-unit">
        <h1>
          <i class="iconic-book-alt2"></i>
          Campus Books
          <br />
          <small>
            Online marketplace to buy and sell used books within SRM.
          </small>
        </h1>
        <hr />
        
        <div>
          <form id="registration_form" action="sessions/set" method="post" class="form-inline">
           <input type="text" id="reg_no" autocomplete="off" placeholder="Enter your registration no..">           
           <%= link_to 'Sign in with Facebook'.html_safe, "/auth/facebook", id: "sign_in", :class => 'btn btn-primary' %>    
          </form>     
        </div>
      </div>
    </div>
    <div class="row">
      <p>
        Designed and developed by <%= link_to 'Arvind Ravi', 'http://arvindravi.heroku.com' %> and <%= link_to 'Prabhu', 'http://facebook.com/prabhu' %>.
      </p>
    </div>
  <% else %>
    <div class="container">
      <div class="row">
        <br />
        <br />
        <div class="page-header">
          <h2>
            Buy/Sell Books            
          </h2>        
        </div>
        <div class="well pull-right">
          <h4>
            Notifications
          </h4>          
          <% if @unread_messages.blank? %>
            <p>
              You have no unread messages.
            </p>
          <% else %>      
            You have <span class="badge badge-info"><%= link_to @unread_messages.count, queries_path, :style => 'color:white;text-decoration:none;' %></span> unread message(s).
          <% end %>
          
        </div>        
        <div>          
          <h3>
            What would you like to do now?
          </h3>
          <div>
            <%= link_to 'Buy', books_path, :class => 'btn btn-primary btn-large' %>
            
            <%= link_to 'Sell', sell_books_path, :class => 'btn btn-primary btn-large' %>
          </div>
        </div>       
      </div>
    </div>
  <% end %>
</div>

<% content_for :scripts do %>
<script>
  $(function(){       
    var button = $('#sign_in');
    var reg_no_field = $('#reg_no');
    var reg_no = reg_no_field.val(); 
    button.addClass("disabled");    
    button.attr('href','#');    
    var re = /10(2|3|4)(0|1)(0|9)(4|1)0\d\d/
    reg_no_field.keydown(function(e){    
      if(reg_no_field.val().length == 9 && reg_no_field.val().match(re)){        
        button.removeClass("disabled");
        button.attr('href','/auth/facebook');              
      }
    });
  });
</script>
<% end %>