<br />
<br />

<p id="notice"><%= notice %></p>

<h2><%= @book.title %></h2>
<div>
	<% if @book.sold %>
		<span class="label label-important">SOLD</span>
	<% end %>
</div>
<p>
	<%= @book.author %>
</p>
<p>
	<%= @book.semester %>
</p>
<p>
	<b>
		Rs.<%= @book.price %>
	</b>
</p>
<% if !@book.sold %>
  <% if can? :buy, Book %>
    <%= link_to 'Buy', buy_book_path(@book) %>
  <% end %>
<% end %>
 
<% if can? :edit, Book %>	
    <%= link_to 'Edit', edit_book_path(@book) %> | 
	<% if !@book.sold %>
		<%= link_to 'Click here if the Book is Sold', sold_book_path(@book) %> |
	<% end %>
<% end %>
<%= link_to 'Back', books_path %>