<div class="container">
	<div class="well">
		<div class="page-header">
			<h1>
				Messages
				<small>
					Unread : <%= notifications %>
				</small>
			</h1>
		</div>
		<div id="inbox">
			<h4>Inbox</h4>
			<% if !@messages.blank? %>
			  <% @messages.each do |message| %>
			    <div class="well messages">
			    	<div class="info">
			    		<div class="pull-left">
			    			<%= image_tag get_imgurl_from_id(message.sender_id), :class => 'thumbnail img-rounded' %>
			    		</div>
			    		<div class="name span4 pull-left">
			    			<p>
			    				<%= link_to get_username_from_id(message.sender_id), user_path(message.sender_id) %>
			    			</p>
			    		</div>
			    	</div>
			    	<span class="divider"></span>
			    	<div class="message">
			    		<% if message.seen && !has_unread_responses?(message) %>
			    		  <%= link_to message.body, query_path(message) %>
			    		<% else %>
			    		  <strong>
			    		  	<%= link_to message.body, query_path(message) %>
			    		  </strong>
			    		<% end %>
			    	</div>
			    </div>
			  <% end %>
			<% else %>
			  <p class="alert alert-danger">
			    No Messages to display.
			  </p>
			<% end %>
		</div>
		<div id="sent">
			<h4>Sent Messages</h4>
			<%= @unread_responses_count %>
			<% if !@sentmessages.blank? %>
			  <% @sentmessages.each do |sent_message| %>
			    <div class="well">
			    	<%= link_to sent_message.body, query_path(sent_message) %>
			    </div>
			  <% end %>
			<% else %>
			  <p class="alert alert-danger">
			  	No Messages to display.
			  </p>
			<% end %>
		</div>
	</div>
</div>