<!DOCTYPE html>
<html>
<head>
  <title>Campusbooks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="user_nav" class="pull-right">
	  <% if current_user %>
	  	<img src="<%= current_user.picture_url %>" class="img-rounded" alt="">
	    Signed in as <strong><%= current_user.name %></strong>!
	    <%= link_to "Sign out", signout_path, id: "sign_out" %>
	  <% else %>	  	  	
	    Please Login
	  <% end %>
	</div>
<%= yield %>

</body>
<%= yield :scripts %>
</html>
